<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/wx_login" method="post">
    用户名 : <input type="text" name="username" id="username"/>
    密码 : <input type="password" name="password"/>
    <input type="submit" value="登录">
</form>
<input id="clientId" type="hidden" th:value="${clientId}" />
<input id="qrcodeUrl" type="hidden" th:value="${qrcodeUrl}" />
<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>

</body>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="qrcode.min.js"></script>
<script type="text/javascript">
 var qrcode = new QRCode(document.getElementById("qrcode"), {
      width : 200,
      height : 200
  });

   function makeCode () {
      var elText = document.getElementById("qrcodeUrl");
      if (!elText.value) {
          elText.focus();
          return;
      }
      qrcode.makeCode(elText.value);
  }

  makeCode();

var ws = new WebSocket("ws://localhost:8908/wx/websocket/"+document.getElementById("clientId").value);
ws.onopen = function (evt) {
    console.log("Connection open ...");
    ws.send("get_wx_user_url");
};
ws.onmessage = function (event) {
    var obj= JSON.parse(event.data);
    if(obj.type==="wx_login"){
        $('#username').attr("value",obj.code);
    }
    console.log("Received Message: " + event.data);
};
ws.onclose = function (evt) {
    console.log("Connection closed.");
};

</script>
</html>